<section class="scrollable padder">
    <section class="panel panel-default ">
        <header class="panel-heading">教学计划学员分配数据导入</header>

        <div class="panel-body">
            <form class="form-inline" role="form" id="growthPlanFileForm">
                <div class="form-group">
                    <textarea id="growthPlanFile" class="form-control" ng-model="growthPlanDate"/>
                    <button ng-click="dataImport()">上传分配数据</button>
                </div>
            </form>
        </div>
    </section>
</section>