<section class="scrollable padder">
    <section class="panel panel-default ">
        <header class="panel-heading">生死局服务结束列表</header>
        <div class="panel-body">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>学号</th>
                    <th>结束类型</th>
                    <th>学员评论</th>
                    <th>图片</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="da in tabDate.data track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{da.studentNum}}</td>
                    <td>{{da.endType==0?"被取消":"正常结束"}}</td>
                    <td>{{da.studentEvaluate}}</td>
                    <td><img ng-repeat="photo in photos" src="http://static.iboom.tv/static/img/{{photo}}"
                             style="width: 40px;height: 40px;"/>
                    </td>
                    <td>
                        <p style=" width: 200px"><input type="file" file="header" style="width: 100px;float: left"><a
                                href="javascript:void(0)" ng-click="uploadFile(this)" class="btn btn-primary"
                                style="float: right">上传</a></td>
                    </p>
                </tr>

                </tbody>
            </table>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-sm-8 text-center">
                        <small class="text-muted inline m-t-sm m-b-sm">showing &nbsp;&nbsp;&nbsp;&nbsp;index:
                            {{tabDate.nowPage}}/ page of
                            {{tabDate.data.length}} items
                        </small>
                    </div>

                    <div class="col-sm-4 text-right text-center-xs">
                        <ul class="pagination pagination-sm m-t-none m-b-none">
                            <li><a href="javascript:void (0)"><i class="fa fa-chevron-left"></i></a></li>
                            <li ng-repeat="lab in tabDate.pageLab" ng-click="getPage(lab-1)"><a
                                    href="javascript:void (0)">{{lab}}</a>
                            </li>
                            <li><a href="javascript:void (0)"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </section>
</section>