<section class="scrollable padder">
    <section class="panel panel-default ">
        <header class="panel-heading">生死局服务检索</header>

        <div class="panel-body">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>学号</th>
                    <th>QQ</th>
                    <th>手机</th>
                    <th>申请状态</th>
                    <th>教学类型</th>
                    <th>服务类型</th>
                    <th>教学老师</th>
                    <th>申请时间</th>
                    <th>教学结束时间</th>
                    <th>结束类型</th>
                    <th>结束时间</th>
                </tr>
                </thead>
                <caption>父标签
                    <div class="col-sm-3 pull-right">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control ng-pristine ng-valid ng-touched"
                                   placeholder="学号" ng-model="studentNum">
                      <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button"
                                ng-click="search()">生死局服务检索
                        </button>
                      </span>
                        </div>
                    </div>
                </caption>
                <tbody>
                <tr ng-repeat="da in studentApplys track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{da.studentNum}}</td>
                    <td>{{da.qq}}</td>
                    <td>{{da.phone}}</td>
                    <td>{{da.statue}}</td>
                    <td>{{da.serviceType==0?(da.teachModeType==0?'英雄教学':'技巧教学'):'无'}}</td>
                    <th>{{da.serviceType==0?'一对一教学':'生死局代打'}}</th>
                    <td>{{da.teacherId | teacher}}</td>
                    <td>{{da.applyTime | dateText}}</td>
                    <td>{{da.teachFinishTime | dateText}}</td>
                    <td>{{da.endType=='0'?'取消':'正常结束'}}</td>
                    <td>{{da.closeTime | dateText}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </section>
</section>